[hidden] { visibility: hidden !important;}

.mrgt-20px {
    margin-top: 20px
}

.generic-header {
    color: white !important;
}

.mat-expansion-panel {
    margin-top: 30px;
    margin-bottom: 30px;
}