<h1 mat-dialog-title>Editar informações Estado </h1>
<form class="example-form" [formGroup]="form">
<div fxLayout="row" fxLayoutGap="20px">
    
    <mat-form-field fxFlex="1 1 auto">
        <input matInput [numberMaxLength]="4" appTwoDigitDecimaNumber name="icms" required maxlength="5" placeholder="ICMS:" formControlName="icms" [(ngModel)]="data.aliq.icms">
    </mat-form-field>
    <mat-form-field fxFlex="1 1 auto">
        <input matInput [numberMaxLength]="4" appTwoDigitDecimaNumber name="pis" required maxlength="5"placeholder="PIS:" formControlName="pis" [(ngModel)]="data.aliq.pis">
    </mat-form-field>
    <mat-form-field fxFlex="1 1 auto">
        <input matInput [numberMaxLength]="4" appTwoDigitDecimaNumber name="cofins" required maxlength="5" placeholder="COFINS:" formControlName="cofins" [(ngModel)]="data.aliq.cofins">
    </mat-form-field>
    <mat-form-field fxFlex="1 1 auto">
        <input matInput [numberMaxLength]="4" appTwoDigitDecimaNumber name="other" required maxlength="5" placeholder="OTHER:" formControlName="other" [(ngModel)]="data.aliq.other">
    </mat-form-field>
</div>

    <mat-card-actions align="right">
        <button mat-raised-button class="secondary-dark btn-main" (click)="close()">Cancelar</button>
        <button mat-raised-button class="primary btn-main" (click)="edit()" [disabled]="!hideSpinner">Salvar</button>
    </mat-card-actions>
</form>