<h1 mat-dialog-title>Gerar Segunda Via de Boleto</h1>
<form [formGroup]="form">
    
    <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex="1 1 auto">
            <input matInput name="dueDate"  [min] ="minDate" [matDatepicker]="myDatepicker" formControlName="dueDate" 
            placeholder="Data de vencimento" autocomplete="off" readonly required>
            <mat-error>{{validate.message(form.controls.dueDate)}}</mat-error>
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker disabled="false" ></mat-datepicker>
            <button  mat-icon-button matSuffix (click)="form.controls.dueDate.reset()" >
                <mat-icon>delete</mat-icon>
            </button>
            
        </mat-form-field>

    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-checkbox fxFlex="1 1 auto" matInput name="sendEmailBillet" formControlName="sendEmail" >Enviar segunda via por e-mail?</mat-checkbox>
    </div>
    <br/>
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-checkbox  fxFlex="1 1 auto" matInput name="keepFineAndInterest" formControlName="keepFineAndInterest" [hidden]="!hasInterestOrFine()" >Manter juros/multa boleto anterior?</mat-checkbox>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
        <mat-checkbox  fxFlex="1 1 auto" matInput name="interestAppl" formControlName="interestApplication" >Aplicar juros?</mat-checkbox>
    </div>
    
    <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex="1 1 auto" >
            <mat-label>Tipo de juros</mat-label>
            <mat-select name="intRate" formControlName="interestRate">
                <mat-option>Selecione</mat-option>
                <mat-option value="MONTH">Ao mês</mat-option>
                <mat-option value="DAY">Ao dia</mat-option>
            </mat-select>
            <mat-error>{{validate.message(form.controls.interestRate)}}</mat-error>
        </mat-form-field>
        
        <mat-form-field fxFlex="1 1 auto">
            <input matInput name="interestPercent" maxlength="5" mask="dot_separator.2"type="text" placeholder="Porcentagem" formControlName="interestPercentage" >
            <mat-error>{{validate.message(form.controls.interestPercent)}}</mat-error>
        </mat-form-field>
    </div>
    
    <div fxLayout="row" fxLayoutGap="20px">
        <mat-checkbox fxFlex="1 1 auto" matInput name="fineAppl"  formControlName="fineApplication">Aplicar multa?</mat-checkbox>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex="1 1 auto">
            <mat-label>Tipo de multa</mat-label>
            <mat-select name="finRate" formControlName="fineRate" >
                <mat-option>Selecione</mat-option>
                <mat-option value="UNIQUE">Taxa única</mat-option>
                <mat-option value="DAY_OF_DELAY">Por dia de atraso injustificado</mat-option>
                <mat-option value="MONTH_OF_DELAY">Por mês de atraso após 30 dias</mat-option>
            </mat-select>
            <mat-error>{{validate.message(form.controls.fineRate)}}</mat-error>
        </mat-form-field>
        
        <mat-form-field fxFlex="1 1 auto">
            <input matInput name="finePercent" type="text"  mask="dot_separator.2" maxlength="5" thousandSeparator="." formControlName="finePercentage" placeholder="Porcentagem">
            <mat-error>{{validate.message(form.controls.finePercentage)}}</mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" *ngIf="hasPendingBalance">
        Saldo do Cliente
    </div>
    <br/>
    <div fxLayout="row" fxLayoutGap="20px" *ngIf="hasPendingBalance">
        <table mat-table  class="search-results" [dataSource]="balances" >
            <ng-content select="[addCols]"></ng-content>

            <ng-container  *ngFor="let col of cols"  [matColumnDef]="col.prop">
                <th mat-header-cell *matHeaderCellDef class="generic-header"> {{col.title}} </th>
                <td mat-cell *matCellDef="let element"> 
                    <span *ngIf="!col.input">{{renderColValue(col, element, i)}}</span>
                    <mat-form-field fxFlex="1 1 auto" *ngIf="col.input">
                        <input matInput mask="{{col.input.mask}}"  (change)="calcFinalBalance(element, $event)" style="text-align: right" name="{{col.input.name}}" autocomplete="off">
                        <span matPrefix>{{col.input.prefix(element, col.input.prefixParam)}}</span>
                    </mat-form-field>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="generic-header"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <br/>
    <div fxLayout="row" fxLayoutGap="20px" *ngIf="hasPendingBalance">
        Total saldo a utilizar: {{currencyConv(finalBalance)}}
    </div>

    <mat-card-actions align="end">
        <button mat-raised-button class="secondary-dark btn-main" (click)="close()">Cancelar</button>
        <button mat-raised-button class="primary btn-main" (click)="generateDuplicateBillet()">Gerar</button>        
    </mat-card-actions>
</form>

