<button mat-fab class="fab-button fab-top" [matMenuTriggerFor]="matBulkMenu"
  [disabled]="!search.hideSpinnerMenu || !search.hideSpinnerSearch">
  <mat-icon *ngIf="search.hideSpinnerMenu">more_horiz</mat-icon>
  <mat-progress-spinner style="bottom: 8px" *ngIf="!search.hideSpinnerMenu" color="accent" mode="indeterminate"
    diameter="40" strokeWidth="5">
  </mat-progress-spinner>
</button>

<mat-menu #matBulkMenu="matMenu">
  <button mat-menu-item (click)="generateContacts()">
    <mat-icon>done</mat-icon>
    Gerar arquivo de integração
  </button>
</mat-menu>

<fw-search
  [options]="{title:'Integração de Contato'}"
  [path]="'contact-integration'"
  (onSearch)="executeSearch()"
  [cols]="cols"
  [actions]="actions"
  [enableSelection]="true"
  (onClear)="clearType()"
  [actions]="actions"
  (onAction)="executeAction($event)"
  #search>
  <form class="example-form">

    <div fxLayout="row" fxLayoutGap="20px">

      <mat-form-field fxFlex="4 1 auto">
        <input matInput name="name" placeholder="Nome" [(ngModel)]="search.filters.contactName">
      </mat-form-field>

      <mat-form-field fxFlex="4 1 auto">
        <input matInput name="email" placeholder="E-mail" [(ngModel)]="search.filters.email">
      </mat-form-field>

      <mat-form-field fxFlex="1 1 auto">
        <input matInput name="fone" placeholder="Telefone" [(ngModel)]="search.filters.fone"
          (input)="onlyNumbers($event)">
      </mat-form-field>

      <mat-form-field fxFlex="1 1 auto">
        <mat-label>Tipo</mat-label>
        <mat-select id="type" name="type" [formControl]="typeControl" [(ngModel)]="search.filters.contactType" multiple>
          <mat-option *ngFor="let type of allContactType" [value]="type">{{type.descricao}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="1 1 auto">
        <mat-label>Situação Integração</mat-label>
        <mat-select [(value)]="search.filters.statusIntegration">
          <mat-option>Todos</mat-option>
          <mat-option value="0">Não Sincronizado</mat-option>
          <mat-option value="1">Enviado</mat-option>
          <mat-option value="2">Sincronizado</mat-option>
          <mat-option value="3">Erro de Sincronização</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field fxFlex="8 1 auto">
        <input matInput type="text"
            placeholder="Operadora"
            [(ngModel)]="search.filters.operator"
            [formControl]="operatorControl"
            (ngModelChange)="renderCustomers()"
            [matAutocomplete]="autoOperator" autocomplete="off">
        <mat-autocomplete #autoOperator="matAutocomplete" [displayWith]="displayOperator" >
            <mat-option *ngFor="let operator of filteredOperators | async" [value]="operator">
                {{operator.name}}
            </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field fxFlex="8 1 auto">
        <input matInput type="text"
            placeholder="Grupo de Faturamento"
            [(ngModel)]="search.filters.customer"
            [formControl]="customerControl"
            [matAutocomplete]="autoCustomer" autocomplete="off">
        <mat-autocomplete #autoCustomer="matAutocomplete" [displayWith]="displayCustomer">
            <mat-option *ngFor="let customer of filteredCustomers | async" [value]="customer">
                {{customer.name}}
            </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field fxFlex="1 1 auto">
        <input matInput name="cnpj"  placeholder="CNPJ"  mask="00.000.000/0000-00" [(ngModel)]="search.filters.customerCnpj">
      </mat-form-field>

      <mat-form-field fxFlex="1 1 auto">
        <input matInput name="user" placeholder="Usuário" [(ngModel)]="search.filters.user">
      </mat-form-field>

    </div>

  </form>
</fw-search>
