<h1 mat-dialog-title>Emitir Nota de Débito</h1>

<fw-search class="main-div" [options]="{title:'Listar Templates de Nota de Débito'}" path="debit-notes/templates"
    [cols]="cols"
     [enableSelection]="true"
      [actions]="false" 
      (onClear)= "withFilter($event)"
      [addFields]="form['controls'].templateId" #search>

    <form class="example-form">
        <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field fxFlex="1 1 auto">
                <input matInput name="codSap" placeholder="Código do Cliente"
                    [(ngModel)]="search.filters.customerSapCode">
            </mat-form-field>
            <fw-autocomplete fxFlex="4 1 auto" flex="4 1 auto" label="Grupo de Faturamento" path="customers" mapAs="id"
            
            [subscribeTo]="search" [(value)]="search.filters.customer">
            </fw-autocomplete>
            


        </div>

        <div fxLayout="row" fxLayoutGap="20px">
            <fw-autocomplete fxFlex="1 1 auto" flex="1 1 auto" label="Produto" path="assignment-products" mapAs="id"
                [subscribeTo]="search" [(value)]="search.filters.product">
            </fw-autocomplete>
            <mat-form-field fxFlex="1 1 auto">
                <mat-label>Tipo de Nota de Débito</mat-label>
                <mat-select [(value)]="search.filters.type" style=" margin-top: 15px">
                    <mat-option>Todos</mat-option>
                    <mat-option value="ACCOUNTS_MEETING">Encontro de contas</mat-option>
                    <mat-option value="FINE">Multa</mat-option>
                    <mat-option value="PAYMENT">Pagamento</mat-option>
                    <mat-option value="PREPAYMENT">Pagamento Antecipado</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="1 1 auto">
                <input matInput name="monthlyAmout" placeholder="Valor mensal liquido" 
                       mask= "dot_separator.2"
                       [(ngModel)]="search.filters.monthlyAmout">
            </mat-form-field>
                            
        </div>

    </form>

</fw-search>





<form [formGroup]="form">

    <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex="1 1 auto">
            <input matInput name="comp" placeholder="Competência*" [matDatepicker]="dp" autocomplete="off" readonly
                formControlName="period">

            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp startView="multi-year" disabled="false" (yearSelected)="chosenYearHandler($event)"
                (monthSelected)="chosenMonthHandler($event, dp)">
            </mat-datepicker>
            <button *ngIf="!!form['controls'].period.value " mat-icon-button matSuffix
                (click)="form['controls'].period.setValue(null)">
                <mat-icon>delete</mat-icon>
            </button>
            <mat-error>{{validate.message(form.controls.period)}}</mat-error>
        </mat-form-field>


    </div>

    <mat-card-actions align="right">
        <button mat-raised-button class="secondary-dark btn-main" (click)="close()">Cancelar</button>
        <button mat-raised-button class="primary btn-main" (click)="issue()"
            [disabled]="!hideSpinner">Emitir</button>
    </mat-card-actions>
</form>