<!-- /.container-fluid -->

<!-- <app-menu [strategy]="'HIERARCHICAL_CARDS'"></app-menu> -->




<!-- 
<mat-card class="card-panel page-header principal">
    <span class="labelUsuario">Pesquisar Usuário</span><a id="pesquisarUsuarioForm:novoUsuarioExternoCommandLink"
        href="#"
        onclick="mojarra.jsfcljs(document.getElementById('pesquisarUsuarioForm'),{'pesquisarUsuarioForm:novoUsuarioExternoCommandLink':'pesquisarUsuarioForm:novoUsuarioExternoCommandLink'},'');return false">
        <i class="material-icons right ativarLoading">add</i></a>
    <a class="dropdown-button right" href="#" data-activates="user_search"><i
            class="material-icons right">search</i></a>
    <ul id="user_search" class="dropdown-content">
        <li>
            <a href="#" id="exibirUsuarioExterno"
                onclick="$('.labelUsuario').html('Pesquisar Usu\u00E1rio Externo')">Usuário Externo</a>
        </li>
        <li>
            <a href="#" id="exibirUsuarioInterno"
                onclick="$('.labelUsuario').html('Pesquisar Usu\u00E1rio Interno')">Usuário Interno</a>
        </li>
    </ul>


</mat-card>


<div id="divPesquisarClienteFinal" class="card-panel">
    <div class="row">
        <div class="input-field col s12 m6 l6">
            <label for="clienteFinalDescField">Cliente Final</label>
            <input id="clienteFinalDescField" materialize="text" type="text">
        </div>

    </div>

    
    <section>
        <div class="container-table white">
            <table class="col s12 m2 highlight bordered">
                <thead>
                    <tr class="header">
                        <th>
                            <div>Cliente Final</div>
                        </th>
                        <th>
                            <div></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 90% !important">AAA </td>
                        <td class="table-action-column">
                            BBBB
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </section>
</div> -->